<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    failOnEmptyTestSuite="true"
>
    <testsuites>
        <testsuite name="Unitarias">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>

        <testsuite name="Integracion">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>

        <testsuite name="CajaBlanca">
            <directory suffix="Test.php">tests/WhiteBox</directory>
        </testsuite>
    </testsuites>

    <!--
        Código propio considerado para los
        reportes de cobertura.
    -->
    <source>
        <include>
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">controllers</directory>
            <directory suffix=".php">models</directory>
        </include>
    </source>

    <!--
        De forma predeterminada se recopilará
        únicamente cobertura de líneas ejecutadas.
        La cobertura de rutas se activará por comando
        en las pruebas de caja blanca.
    -->
    <coverage
        includeUncoveredFiles="false"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
    />
</phpunit>