@use 'base/variables' as v;
@use 'base/mixins' as m;

.challenges {
    background: v.$background;
    padding: 4rem 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__wrapper {
        @include m.contenedor;
    }

    &__header {
        text-align: center;
        margin: 0 auto 3rem;
    }

    &__title {
        font-size: 3rem;
        font-weight: v.$black;
        color: black;
        margin-bottom: 1rem;

        @include m.tablet {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        color: v.$p-gray;
        line-height: 1.5;
    }

    &__filter {}

    &__filter-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    &__select {
        padding: .8rem 1.2rem;
        background-color: v.$background;
        border: 1px solid v.$input-gray;
        font-size: 1.4rem;
        border-radius: .8rem;
        color: v.$gray;
        &--skills {
            @extend .challenges__select;

        }

        &--difficults {
            @extend .challenges__select;

        }
    }

    &__option{

    }
}