@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.challenges-card{
    background-color: white;
    border-radius: 1.4rem;
    border: 1px solid v.$input-gray;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    max-width: 40rem;

    @include m.tablet{
        
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__spanTop{
        width: 4.9rem;
        height: 4.9rem;
        border-radius: 1.2rem;
        background-color: v.$background-ca;
        display: grid;
        place-items: center;
    }
    
    &__iTop{
        color: v.$primary;
    }

    &__difficult{
        font-size: 1.2rem;
        font-weight: 500;
        background-color: oklch(0.96 0.01 30);
        padding: .4rem;
        border-radius: .8rem;
        align-self: flex-start;
    }

    &__middle{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__tittle{
        font-size: 2rem;
        margin: 0;
    }

    &__descripcion{
        font-size: 1.4rem;
        color: v.$p-gray;
        margin: 0;
    }

    &__tagContainer{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__tag{
        font-size: 1.2rem;
        font-weight: 500;
        padding: .4rem;
        border-radius: .8rem;
        border: 1px solid v.$input-gray;
        margin: 0;
    }

    &__timePoints{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__time{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
    }

    &__iTime{
        color: v.$p-gray;
        font-size: 1.5rem;
    }

    &__pTime{
        font-size: 1.4rem;
        font-weight: 500;
        color: v.$p-gray;
        margin: 0;

    }

    &__points{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
    }

    &__iPoints{
        color: v.$primary;
        font-size: 1.5rem;
    }

    &__pPoints{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;

    }

    &__bottom{
        // margin-top: 5rem
    }

    &__button{
        @include m.boton(v.$primary, white);
        border-radius: .8rem;
    }
}