@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.challenges-cards{
    border-top: 1px solid oklch(90% 0.01 30deg);
    border-bottom: 1px solid oklch(90% 0.01 30deg);
    padding: 2rem 0;
    &__container{
        @include m.contenedor;
    }

    &__grid{
        @include m.grid(1, 1.5rem);

        @include m.tablet{
            @include m.grid(2, 1.5rem);
        }

        @include m.desktop{
            @include m.grid(3, 1.5rem);
        }
    }
}