@use 'base/variables' as v;
@use 'base/mixins' as m;

/* ====== CARDS DEL DASHBOARD ====== */

.admin-card {
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2.4rem 2.8rem;
  width: 40rem;
  @include m.shadowForm;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: v.$green-light;
    display: flex;
    align-items: center;
    justify-content: center;

    &--yellow {
        @extend .admin-card__icon-circle;
      background-color: rgba(v.$yellow, 0.18);
    }
  }

  &__icon {
    font-size: 2.2rem;
    color: #000;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    font-weight: v.$bold;
    color: #000;
  }

  &__description {
    font-size: 1.5rem;
    color: v.$p-gray;
    margin: 0 0 1rem 0;
  }

  &__button {
    @include m.boton(v.$primary, #fff);
    width: auto;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    padding: 0.9rem 2.4rem;
  }

  &--users {
    /* Si quieres algún estilo extra para usuarios, lo dejas aquí */
  }

  &--skills {
    /* Estilos extra para habilidades si los necesitas */
  }
}