@use 'base/variables' as v;
@use 'base/mixins' as m;

/* ====== LAYOUT GENERAL DEL DASHBOARD ====== */

.dashboard {
  background-color: v.$background;

  &__grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
  }

  &__contenido {
    padding: 3rem 3.5rem;
  }

  &__pagAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include m.tablet {
      flex-direction: row-reverse;
      gap: 1rem;
    }
  }

  @include m.telefono {
    &__grid {
      grid-template-columns: 240px 1fr;
    }
  }

  @media (max-width: 767px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}