@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal-delete {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    &__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    }

    &__content {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 400px;
    width: 90%;
    z-index: 2100;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    }

    &__title{
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }

    &__text{
        font-size: 1.4rem;
        color: v.$p-gray;
    }

    &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    }

    &__btn {
    font-size: 1rem;
    border-radius: 1.2rem;
    &--yes{
        @extend .modal-delete__btn;
        @include m.boton (v.$green, white);
        width: auto;
    }

    &--no{
        @extend .modal-delete__btn;
        @include m.boton (v.$red, white);
        width: auto;
    }
    }
}