@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: filter;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin contenedor-xl {
    width: min(95%, 170rem);
    margin: 0 auto;
}

@mixin contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
}

@mixin contenedor-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}

@mixin contenedor-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin sombra {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin sombraBTN {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

@mixin shadowForm{
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags{
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: .5rem;

    > li {
        background-color: v.$primary;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1.4rem;
        color: white;
        font-weight: v.$bold;

        &:hover{
            cursor: pointer;
        }
    }
}