// Fuentes
$fuente-principal: sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$primary: #EB4328;
$background: #FEF5F4;
$gray: #413c3c;
$p-gray: oklch(50% .01 30);
$input-gray: #D2D2D2;
$grisTr: #919191;
$grisClaro: #D9D9D9;
$grisOscuro: #1E293B;
$primary-dark:#A22915;
$green: #00C951;
$green-light: #00c9512b;
$yellow: #F0B100;
$blue: #2B7FFF;
$red: rgb(169, 0, 0);
$red-light: rgb(169 0 0 / 10%);

//Bordes y radios
$radius: 10px;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900