@use 'base/variables' as v;
@use 'base/mixins' as m;

.notFound{
    @include m.contenedor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__tittle{
        margin: 0;
    }
    &__p{
        color: v.$p-gray;
    }

    &__btn{
        @include m.boton(v.$primary, white);
        width: auto;
        border-radius: .8rem;
    }
}