@use 'base/mixins' as m;
@use 'base/variables' as v;

.site-footer {
    background-color: v.$background-footer;
    border-top: 1px solid v.$footer-border;
    margin-top: 4rem;
    padding: 3rem 0 2rem;
    font-size: 1.4rem;
    color: v.$p-gray;

    &__inner {
        @include m.contenedor-xl;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__column {
        max-width: 30rem;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: v.$bold;
        margin-bottom: .8rem;
        color: black;
    }

    &__text {
        line-height: 1.5;
    }

    &__list {
        @include m.reset-list;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include m.tablet{
            gap: .4rem;
        }
    }

    &__item {}

    &__link {
        color: v.$p-gray;
        transition: color .2s ease;

        &:hover {
            color: v.$primary;
        }
    }

    &__contact {
        @include m.reset-list;
        margin: 0 0 1rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
    }

    &__contact-li{
        transition-property: color, cursor;
        transition-duration: .3s;
        &:hover{
            color: v.$primary;
            cursor: pointer;
        }
    }

    &__contact--i{
        font-size: 2.4rem;
    }

    &__copy {
        opacity: .9;
    }
}
