@use 'base/variables' as v;
@use 'base/mixins' as m;

/* ROADMAP / CAMINO */
.learning-roadmap {
  position: relative;
  padding: 3rem 0 4rem;
  margin-bottom: 3rem;

  &__line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: v.$grayTr;
    transform: translateX(-50%);

    @include m.telefono {
      width: 4px;
    }
  }

  &__list {
    @include m.reset-list;
    position: relative;
  }

  &__item {
    position: relative;
    display: flex;
    margin-bottom: 4rem;
    align-items: flex-start;

    @include m.desktop {
      margin-bottom: 5rem;
    }

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }

    /* estados */
    &--completed .learning-roadmap__status-icon {
      background-color: v.$green;
      color: #fff;
    }

    &--current .learning-roadmap__status-icon {
      background-color: v.$primary;
      color: #fff;
    }

    &--upcoming .learning-roadmap__status-icon,
    &--locked .learning-roadmap__status-icon {
      background-color: #fff;
      color: v.$grisTr;
      border: 2px solid v.$grayTr;
    }

    &--locked .module-card__btn {
      background-color: v.$grayTr;
    }
  }

  &__node {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @include m.tablet{
      width: 10.6rem;
      height: 10.6rem;
    }
  }

  &__status-icon {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;

    @include m.tablet{
    width: 10.4rem;
    height: 10.4rem;
    }
  }

  &__i{
    @include m.tablet{
      font-size: 5rem;
    }
  }

  &__badge {
    position: absolute;
    top: 50%;
    left: calc(50% + 3.2rem);
    transform: translateY(-50%);
    background-color: v.$yellow;
    color: #fff;
    font-size: 1.7rem;
    font-weight: v.$bold;
    padding: .4rem .8rem;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    white-space: nowrap;
  }

  /* En móviles las cards van todas a la izquierda */
  @include m.telefono {
    &__item {
      justify-content: flex-start;

      &--right {
        justify-content: flex-end;
      }
    }
  }

  @include m.tablet {
    &__item--left .module-card {
      margin-right: 7rem;
    }

    &__item--right .module-card {
      margin-left: 7rem;
    }
  }
}